[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=mate
Name[en_US]=Sandbox
Exec=gnome-terminal -e /home/sandbox/src/SARndbox-2.8/run-sandbox.sh
Name=Sandbox
Icon=mate
