[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=mate-panel-launcher
Name[en_US]=XBackground
Exec=gnome-terminal -e 'XBackground -f -geometry 1024x768'
Name=RawKinectViewer
Icon=mate-panel-launcher
Comment[en_US]=Display Background Calibration
GenericName[en_US]=Display Background Calibration
